.toast {

  position: fixed;

  top: 30px;

  left: 50%;

  transform: translateX(-50%);

  background: #16a34a;

  color: white;

  padding: 14px 24px;

  border-radius: 14px;

  display: flex;

  align-items: center;

  gap: 10px;

  font-size: 15px;

  font-weight: 600;

  box-shadow:
    0 10px 30px
    rgba(0,0,0,0.15);

  z-index: 9999;

  animation:
    slideDown .3s ease;
}

.icon {

  width: 24px;

  height: 24px;

  border-radius: 50%;

  background: rgba(
    255,
    255,
    255,
    .2
  );

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 14px;

  font-weight: bold;
}

@keyframes slideDown {

  from {

    opacity: 0;

    transform:
      translateX(-50%)
      translateY(-30px);

  }

  to {

    opacity: 1;

    transform:
      translateX(-50%)
      translateY(0);

  }

}